@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%; /* Ensure full height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

body {
  background: var(--background); /* Keep background */
  color: var(--foreground); /* Keep text color */
  /* font-family removed, let Tailwind handle it */
}
